.newtask {
  display: flex;
  align-items: center;
  gap: 0.5rem;

}

.newtask input {
  height: 3.375rem;
  border: 1px solid var(--gray-700);
  background: var(--gray-500);
  width: 39.875rem;
  border-radius: 5px;
  resize: none;
  color: var(--gray-200);
}

.newtask input::placeholder {
  color: var(--gray-300);
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.newtask footer button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  transition: color 0.1s, backgound-color 0.1s;
}

.newtask footer button:hover {
  background: transparent;
  color: var(--gray-100);
  border: 1px solid var(--gray-100);
}

.newtask button[type=submit] {
  width: 5.625rem;
  height: 3.375rem;
  border-radius: 5px;
  border: 0;
  background: var(--blueDark);
  color: var(--gray-100);
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.1s;
}